*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: burlywood; */
}
/* shared tag  */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header .nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
