*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: burlywood; */
}
/* shared styles  */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.nav h2{
    width: 71px;
    color: #30b868;
    font-weight: 900;
}
.btn{
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font: 600;
    font-size: 16px;
    margin-left: 346px;
}
/* main styles  */
header{
    background-color: #ffffff;
    padding-top: 30px;

}
header .nav{
    /* border: 1px solid black; */
    width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;

}
nav .menu a{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}