*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles  */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
#nav h2{
    width: 71px;
    color: #30b868;
    font-weight: 900;
}
#nav .logo{
    padding-bottom: 16px;
    margin-left: 120px;
}
.btn{
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font: 600;
    font-size: 16px;
    margin-left: 346px;
    margin-right: 120px;
    cursor: pointer;
}
.btn:hover{
    background-color: #ffffff;
    
}
/* main styles  */
header{
    background-color: #ffffff;
    padding-top: 30px;
    
}
header #nav{
    /* border: 1px solid black; */
    width: 1600px;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

/* Hero section  */

#banner{
    border: 1px solid black;
    width: 100%;
    max-width:1600px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    margin: 0px auto;
    
}
#banner .banner-container{
    width: 1360px;
    /* border: 1px solid red; */
    margin: 115.5px 120px 179.5px 120px;
    list-style: none;
    

}
.banner-container .text-heading{
    /* border: 2px solid yellow; */
    width: 770px;
    align-items: center;
    margin: 0px 270.5px 16px 270.5px;
    text-align: center;
}
.text-heading button{
    background-color: #ffffff;
    color: #30b868;
    border-radius: 12px;
    padding: 8px 30px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}
.text-heading button:hover{
    background-color: rgb(232, 142, 24);
    color: #000000;
}
.text-heading .heading h1 b{
    color: #ffffff;
    font-weight: 900;
    font-size: 2em;
}
.text-heading .heading h1 span{
color: #30b868;
font-weight: 900;
font-size: 2em;
}
.banner-container .text{
    color: #ffffff;
    text-align: center;
}
.banner-container .text-down{
    margin: 32px auto 0px;
    display: flex;
    gap: 16px;
    align-items: center;
    
}

.banner-container .text-down .bt{
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font: 600;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.banner-container .text-down .bt:hover{
    background-color: #30b868;
    
}

/* about */
#about{ 
    padding-top: 45px;
    text-align: center;
}
#about h2{
    font-size: 48px;
    margin: 0 120px;
    padding-bottom: 16px;
}
#about p{
    font-size: 16px;
    line-height: 24px;
}
.about-container{
    display:flex;
    justify-content: space-around;
    margin: 44px 120px;
    gap: 24px;
}
.about-container .box img{
    background-color: #f95555;
    border-radius: 50%;
    padding: 8px;
}
#about .about-container .box{
    margin-top: 48px;
    padding: 70px 24px 0 24px;
    width: 322px;
    height: 300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
} 
#about .about-container .box h4{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
}
#about .box p{
    color: #627382;
    font-size: 15px;
    line-height: 20px;
}
/* solution  */
#brain{
    display:flex;
    margin-top: 120px;
    margin-left: 120px;
    gap: 60px;
}
#brain .brain-text{
    margin: 101.5px 0;
    padding-right: 200px;
}
#brain .brain-text span{
    font-size: 16px;
    font-weight: 500;
    color: #30B868
}
#brain .brain-text h1{
    margin: 16px 0;
    font-size: 48px;
    font-weight: 700;
}
#brain .brain-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    margin-right: 180px;
}
#brain .brain-text ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
}
.brain-text ul .right-sign{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}
/* section  */
#think .think-container{
    text-align: center;
    margin: 2px 120px 120px 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
}
.think-container h1{
    font-weight: 800px;
    font-size: 40px;
    margin-bottom: 16px;
}
.think-container p{
    font-size: 16px;
    line-height: 24px;
    padding: 0 275px;
    color: #627382;
}
.think-container button{
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color:#000000;
    background-color: #30B868;
    margin: 24px 0;
}
.think-container button:hover{
    background-color: #ffffff;
}
.think-container img{
    padding-left: 8px;
    vertical-align: middle;
}
/* footer  */
#footer{
    background:#001931;
    padding:25px 30px;
    margin: auto;
    height: 250px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-logo img{
    padding-bottom: 16px;
    margin-left: 120px;
}
.footer-title-social{
    text-align:center;
}

.social-title{
    color:#fff;
    margin-bottom:10px;
    font-size:16px;
    letter-spacing:1px;
}
.social-icons a{
    color:#fff;
    margin:0 8px;
    font-size:18px;
    transition:0.3s;
}
.protap{
    text-align:center;
    color:white;
    margin-top:15px;
    font-size:14px;
}